WhatsApp MCP Agent.json
{
  "name": "WhatsApp MCP Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        816,
        448
      ],
      "id": "3afc0b5f-9bc7-4a9b-b248-378c2c4eec6a",
      "name": "WhatsApp Trigger",
      "webhookId": "dca7095c-a90f-42df-92fe-ad058f633722"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant named Alex.\n\nAlways respond in a warm and helpful manner.\n\nYou are currently speaking with {{ $json.contacts[0].profile.name }}\n\n\n\nThe current date and time {{ $now.toISO() }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1888,
        448
      ],
      "id": "da22866a-f15a-4a3c-92f4-9ac189fecd08",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1920,
        704
      ],
      "id": "f921ce43-821d-4caa-b3ae-283d44f3710f",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2080,
        704
      ],
      "id": "5974e85d-e2fb-430d-ae9c-32bd5fcfdf40",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f461fcd-feba-4492-afcf-cc3164216ff4",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        448
      ],
      "id": "ff7cbe77-20f2-4537-8e8e-b2dbe3011789",
      "name": "Text Handler"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "476cdad2-d162-46f4-8fc7-894682feab01"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7de98205-acf5-492b-8e7d-323844b39f30",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d4625e38-f473-4c6b-a871-9a442a58753b",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        976,
        448
      ],
      "id": "e7029e45-3dbc-4651-9e08-fd59dc4e3787",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1088,
        0
      ],
      "id": "bcf2a7dd-ca27-4838-8754-987655ae9321",
      "name": "WhatsApp Business Cloud1",
      "webhookId": "4071a2c9-01bb-4eda-b3bf-4d0aafa1b7f1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        0
      ],
      "id": "140c2f35-ae44-4e46-b5aa-0f1142c86e72",
      "name": "Download audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1536,
        0
      ],
      "id": "5528b302-87ef-42d3-b0c3-19ba4bbea7ed",
      "name": "Audio Transciption"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f010f116-d0ca-4480-a07e-d088b4ad505f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        0
      ],
      "id": "8790ea1b-1f2f-4173-8f9c-81cd02d3c938",
      "name": "Audio Handler"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "voice": "nova",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2448,
        128
      ],
      "id": "551fdf49-1a72-4778-863e-6997c6976097",
      "name": "Generate Voice"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and change the MIME type of binary data\nfor (const item of $input.all()) {\n  // Check if the item has binary data\n  if (item.binary) {\n    // Find the binary property name (assuming there's at least one)\n    const binaryPropertyNames = Object.keys(item.binary);\n    \n    for (const propName of binaryPropertyNames) {\n      // If the MIME type is 'audio/mp3', change it to 'audio/mpeg'\n      if (item.binary[propName].mimeType === 'audio/mp3') {\n        item.binary[propName].mimeType = 'audio/mpeg';\n      }\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        128
      ],
      "id": "c2d17841-8b02-4ffb-a029-39fa32587a2f",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9e3a120-8c36-45cf-8f53-a146cab3ec98",
              "leftValue": "={{ $('WhatsApp Trigger').item.json.messages[0].audio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2320,
        448
      ],
      "id": "3f8925be-2b78-4058-b860-0c8cbba09431",
      "name": "If logic"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        1088,
        912
      ],
      "id": "f161ff88-cb77-4e79-9416-d42991e715f6",
      "name": "Get Image Link",
      "webhookId": "4f1c4925-effd-4ef8-83bf-634e9044c24c"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        912
      ],
      "id": "60536d38-c84a-4757-bb5b-560d2d316c93",
      "name": "Download Image"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "Please describe this image shortly",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1520,
        912
      ],
      "id": "25976bff-086a-4045-b53f-3eb851cf207b",
      "name": "Analyze Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bee86fe8-0109-414f-8eab-681ee03ef9d4",
              "name": "=text",
              "value": "=* The user shared the following image and text\n\n** Image analysis\n\n{{ $json.content }}\n\n** User Request: \n\n\n{{ $('WhatsApp Trigger').item.json.messages[0].image.caption || \"describe this image in detail\"}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1728,
        912
      ],
      "id": "b3db2135-29d6-4c7d-8ce3-d0f86b91773d",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "sseEndpoint": "https://n8ndemos.app.n8n.cloud/mcp/demo/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        2640,
        864
      ],
      "id": "f6b2ae59-6777-445f-b936-bce5597efd68",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "content": "## MCP\n",
        "height": 300,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2560,
        704
      ],
      "id": "09cf7279-3a9e-42d3-84a2-7113f42d3a8c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "466179296585433",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2640,
        464
      ],
      "id": "661e6683-2c4d-481a-b2e3-73384730fb08",
      "name": "Respond Text",
      "webhookId": "8b6785b1-6fcd-4f48-9254-64d784025b4e"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "466179296585433",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "messageType": "audio",
        "mediaPath": "useMedian8n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2832,
        128
      ],
      "id": "bc99ff00-f483-4c3a-b81f-fad5c3ca28db",
      "name": "Respond Audio",
      "webhookId": "4354ce3d-8517-470c-aa39-b7f5dccc05a5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2208,
        704
      ],
      "id": "0e0ae21b-9ab9-4cbb-bf64-4d2e8bf26303",
      "name": "SerpAPI"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data in Pinecone Vector Store",
        "pineconeIndex": {
          "__rl": true,
          "value": "solarpanelsdemo",
          "mode": "list",
          "cachedResultName": "solarpanelsdemo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2000,
        880
      ],
      "id": "14264da8-1499-4684-9191-dfb98432d8ee",
      "name": "Knowledge Base"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2016,
        1072
      ],
      "id": "c47a4aa6-0603-4833-b670-e2f985a23e7c",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "content": "## Audio",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "4ab5d296-eeda-442c-98d9-e173f2727d5d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Image",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        864
      ],
      "id": "8b8e2203-2c3b-46ba-a8fa-b02670ebbd6c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text",
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        432
      ],
      "id": "7a43eb0c-ca36-460d-aed4-8bb6dfd61ff0",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Handler": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Business Cloud1": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Audio Transciption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Transciption": {
      "main": [
        [
          {
            "node": "Audio Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Handler": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If logic": {
      "main": [
        [
          {
            "node": "Generate Voice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Link": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df46685f-5a4b-431b-9ac1-fda99c72489b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb90100dc300f56d040f173bb9891f5b9718adc0da05af758a0b593fc0757a48"
  },
  "id": "XrOg6Iwn2FCfFbR4",
  "tags": []
}